# dependencies
node_modules/
/.pnp
.pnp.*

# testing
coverage/

# next.js
.next/
/out/

# production
dist/
build/

# misc
.DS_Store
*.pem
*.log

# env files
.env
.env.local
.env.*.local
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
generated/
